![](logo_pandas.png)

In [10]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Persiapan Data Frame

In [11]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  6  2  4  5  8
1  7  3  1  8  2
2  9  9  3  7  5
3  3  1  6  6  8
4  1  2  8  3  6

In [12]:
tuple('ABCDE')

('A', 'B', 'C', 'D', 'E')

## Menyertakan Prefix Kolom

In [14]:
df.add_prefix('kolom_')

   kolom_A  kolom_B  kolom_C  kolom_D  kolom_E
0        6        2        4        5        8
1        7        3        1        8        2
2        9        9        3        7        5
3        3        1        6        6        8
4        1        2        8        3        6

## Menyertakan Suffix Kolom

In [16]:
df.add_suffix('_field')

   A_field  B_field  C_field  D_field  E_field
0        6        2        4        5        8
1        7        3        1        8        2
2        9        9        3        7        5
3        3        1        6        6        8
4        1        2        8        3        6