![](logo_pandas.png)

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Persiapan Data Frame

In [2]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows, n_cols)), columns=cols)
df

   A  B  C  D  E
0  6  9  8  3  5
1  8  1  5  2  3
2  9  6  5  3  6
3  8  9  8  6  7
4  2  6  1  8  6

## Membalikkan Urutan Kolom

In [3]:
df.loc[:, ::-1]

   E  D  C  B  A
0  5  3  8  9  6
1  3  2  5  1  8
2  6  3  5  6  9
3  7  6  8  9  8
4  6  8  1  6  2

## Membalikkan Urutan Baris

In [4]:
df.loc[::-1]

   A  B  C  D  E
4  2  6  1  8  6
3  8  9  8  6  7
2  9  6  5  3  6
1  8  1  5  2  3
0  6  9  8  3  5

## Membalik Urutan Baris dan Melakukan Penyesuaian Ulang `Index`

In [5]:
df.loc[::-1].reset_index(drop=True)

   A  B  C  D  E
0  2  6  1  8  6
1  8  9  8  6  7
2  9  6  5  3  6
3  8  1  5  2  3
4  6  9  8  3  5