![](logo_pandas.png)

In [1]:
import pandas as pd
print(pd.__version__)

1.2.2

## Persiapan Data Frame

In [27]:
df = pd.util.testing.makeMissingDataframe().reset_index()
df.head()

        index         A         B         C         D
0  US1dzNSwAL  0.058783 -0.344171  1.312697  0.095036
1  XqNOuTMA8B -0.537092       NaN -1.271789  0.722791
2  cBmjckb91e -1.624995 -0.554786 -1.110005 -0.086748
3  By0DnmeUpl -0.190961 -1.414717  1.143655  0.058026
4  gyglO4anKh -0.734920  0.318729 -0.824256  1.619054

In [28]:
df = df.rename(columns={'index':'Z'})
df.head()

            Z         A         B         C         D
0  US1dzNSwAL  0.058783 -0.344171  1.312697  0.095036
1  XqNOuTMA8B -0.537092       NaN -1.271789  0.722791
2  cBmjckb91e -1.624995 -0.554786 -1.110005 -0.086748
3  By0DnmeUpl -0.190961 -1.414717  1.143655  0.058026
4  gyglO4anKh -0.734920  0.318729 -0.824256  1.619054

In [29]:
df_backup = df.copy(deep=True)

## Menghapus (drop) Setiap Kolom Yang Mengandung Missing values

In [30]:
df = df.dropna(axis='columns')
df.head()

            Z
0  US1dzNSwAL
1  XqNOuTMA8B
2  cBmjckb91e
3  By0DnmeUpl
4  gyglO4anKh

## Menghapus (drop) Setiap Baris Yang Mengandung Missing values

In [31]:
df = df_backup.copy(deep=True)
df = df.dropna(axis='rows')
df.head()

            Z         A         B         C         D
0  US1dzNSwAL  0.058783 -0.344171  1.312697  0.095036
2  cBmjckb91e -1.624995 -0.554786 -1.110005 -0.086748
3  By0DnmeUpl -0.190961 -1.414717  1.143655  0.058026
4  gyglO4anKh -0.734920  0.318729 -0.824256  1.619054
5  wqmATAJkl3  0.079511  0.983410  0.918185  2.823179

## Persentase Missing Values Untuk Tiap Kolom

In [32]:
df = df_backup.copy(deep=True)
df.isna().mean()
#fungsi df.isna untuk mengumpulkan semua missing vlaues dari setiap kolom data frame kita
#fungsi .mean mengkalkulasi rata2 dari missing values yg dimiliki oleh setiap kolom dari data frame kita

Z    0.000000
A    0.100000
B    0.166667
C    0.100000
D    0.033333
dtype: float64

## Kenapa kita harus menghitung missing values?

karena hasil persentase missing values akan digunakan untuk hal selanjutnya yaitu menghapus semua kolom yg mengandung missing kolom berdasarkan threshol tertentu

## Menghapus (drop) Setiap Kolom Yang Mengandung Missing Values Berdasarkan Threshold

In [35]:
# fungsi dari treshold adalah memberi batas untuk setiap kolom yg ingin di buang kolomnya. disini menggunakan 0.9 / 90%

treshold = len(df) * 0.9 # len(df) fungsinya untuk mencari tau jumlah raw dari data frame kita
df = df.dropna(thresh=treshold, axis='columns')
df.head()

            Z         A         C         D
0  US1dzNSwAL  0.058783  1.312697  0.095036
1  XqNOuTMA8B -0.537092 -1.271789  0.722791
2  cBmjckb91e -1.624995 -1.110005 -0.086748
3  By0DnmeUpl -0.190961  1.143655  0.058026
4  gyglO4anKh -0.734920 -0.824256  1.619054