![](logo_pandas.png)

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0  19  13  13   4   7
1  12   8  19   5   2
2   5   1  18   5  18
3  17   1   3   8  12
4   3   3  11   6   2
5   1  15  11  13   7
6  15  18   4   3  14
7   3   3   1   1   5
8   7   8  11   1  13
9  13   9   2   6  11

## Seleksi Kolom Dan Baris Menggunakan `Loc`

In [4]:
df.loc[[0, 3, 4], ['B', 'E']]
# bagian pertama dari loc digunakan untuk mengatur baris
# bagian kedua dari loc untuk mengatur kolom

    B   E
0  13   7
3   1  12
4   3   2

## Seleksi Baris Dengan Kondisi

In [7]:
df.loc[df['B']>10, ['B', 'D', 'E']]
# mencari data dari kolom B yang lebih dari 10
# ['B', 'D', 'E'] bagian ini jika di mysql termasuk dibagian SELECT
# df['B']>10 bagian ini termasuk dibagian WHERE

    B   D   E
0  13   4   7
5  15  13   7
6  18   3  14

## Slicing Data Frame Dengan `Loc`

In [9]:
df.loc[0:4, 'B':'D']
# 0:4 berarti melakukan slicing dari baris ke 0 sampai ke 4
# 'B':'D' melakukan slicing mulai dari kolom B sampai kolom D

    B   C  D
0  13  13  4
1   8  19  5
2   1  18  5
3   1   3  8
4   3  11  6

### Perbedaan teknik slicing pada loc dengan teknik slicing pada list :

- hal yang paling membedakan antara teknik slicing pada loc bila dibandingkan dengan teknik slicing pada list adalah jika pada loc slicingnya dibagi menjadi 2 bagian besar yaitu start index dan end index. hanya saja pada loc, baik start indek maupun end index sifatnya inclusive artinya turut disertakan. oleh karena itu jika dilihat contoh diatas, index 0 dan index 4 ikut disertakan.
- teknik slicing pada list, start index nya inclusive(turut disertakan) dan end index nya exclusive(tidak disertakan). contohnya jika ingin slicing baris 0:4, maka yang ditampilkan hanya baris 0-3