![](logo_pandas.png)

In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Persiapan Data Frame

In [5]:
n_rows = 10
n_cols = 1
cols = ('usia',)

df = pd.DataFrame(np.random.randint(1, 99, size=(n_rows, n_cols)), columns=cols)
df

   usia
0     3
1    79
2    28
3    92
4    23
5    65
6    84
7     4
8    24
9    42

## Pengelompokkan Nilai Numerik Ke Dalam Beberapa Kategori Menggunakan `Cut()`

In [7]:
df['Kelompok_usia'] = pd.cut(df['usia'], # untuk melakukan konversi nilai numerik usia ke dalam beberapa kategori
                             bins = [0, 18, 65, 99], 
                             labels = ['anak-anak', 'dewasa', 'manula'])
df
# df['Kelompok_usia'] membentuk kolom baru dengan nama kelompok_usia
# usia 0-18 termasuk kategori anak, usia 18-65 kategori dewasa, dan usia 65-99 kategori lansia

   usia Kelompok_usia
0     3     anak-anak
1    79        manula
2    28        dewasa
3    92        manula
4    23        dewasa
5    65        dewasa
6    84        manula
7     4     anak-anak
8    24        dewasa
9    42        dewasa