![](logo_pandas.png)

In [2]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0   1  13   8   4   7
1  18   5  11  13  15
2   4  18   6   6  19
3  15   6   3  17  18
4   6  12   8  19  12

In [5]:
df1 = df.copy(deep=True)
df1 = df1.drop([1, 4])
df1

    A   B  C   D   E
0   1  13  8   4   7
2   4  18  6   6  19
3  15   6  3  17  18

In [6]:
df2 = df.copy(deep=True)
df2 = df2.drop([0, 3])
df2

    A   B   C   D   E
1  18   5  11  13  15
2   4  18   6   6  19
4   6  12   8  19  12

## Menggabungkan 2 Data Frame

In [7]:
df_inner = pd.merge(df1, df2, how='inner') # pd.merge fungsinya untuk menggabungkan 2 tabel
df_inner

# penggabungan inner adalah menggabungkan 2 data frame yg dimiliki oleh ke  2 tabel

   A   B  C  D   E
0  4  18  6  6  19

In [8]:
df_outer = pd.merge(df1,df2, how='outer')
df_outer

# penggabungan outer adalah menggabungkan 2 buah data frame dimana nilai yang terdapat duplikasi dihilangkan dan hanya dijadikan 1 saja

    A   B   C   D   E
0   1  13   8   4   7
1   4  18   6   6  19
2  15   6   3  17  18
3  18   5  11  13  15
4   6  12   8  19  12