In [1]:
import pandas as pd
import numpy as np

print(pd.__version__)
print(np.__version__)

1.2.2
1.19.2

## Membentuk Data Frame Dari Dictionary

In [3]:
pd.DataFrame({'col1' : [1, 2, 3, 4],
              'col2' : [5, 6, 7, 8]})

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

## Membentuk Data Frame Dari Numpy Array

In [5]:
n_rows = 5
n_cols = 3

arr = np.random.randint(1, 20, size=(n_rows,n_cols)) #jangkauan nilainya adalah 1-20
arr

array([[10,  3,  5],
       [14, 12,  8],
       [ 9,  6,  1],
       [10,  6, 18],
       [ 1, 11, 13]])

In [6]:
pd.DataFrame(arr, columns=tuple('ABC'))

    A   B   C
0  10   3   5
1  14  12   8
2   9   6   1
3  10   6  18
4   1  11  13

## Membentuk Data Frame Dengan Memanfaatkan build in function dari modul `pandas.util.testing`

In [7]:
pd.util.testing.makeDataFrame().head()

C:\Users\Lingga Pratama\anaconda3\envs\linggapratama\lib\site-packages\pandas\util\__init__.py:8: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing

                   A         B         C         D
Vjwg0RJlpW -0.114332  0.649380  1.097219  0.622399
crYFmXO5Kb  0.671693 -0.233933  1.386695 -0.647682
8gnc2iOeAJ -1.622936 -0.857380  0.829201  0.299163
HOh3bJ6xCP -0.612730  0.581310  0.392223 -0.721784
dKvge9E7D4 -0.371401  0.801827  1.152814  0.006881

In [8]:
pd.util.testing.makeMixedDataFrame().head()

     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [9]:
pd.util.testing.makeTimeDataFrame().head()

                   A         B         C         D
2000-01-03 -1.521749  1.072965  0.620979  1.382735
2000-01-04 -0.048832  0.411451  0.817871 -0.995284
2000-01-05 -0.833762  2.208337 -0.355847  0.168861
2000-01-06  0.585807  0.316527 -1.583900  1.490986
2000-01-07  0.378644 -0.259112  1.036819 -0.820083

In [12]:
pd.util.testing.makeMissingDataframe().head()
#missing value didalam pandas data frame di tulis NaN

                   A         B         C         D
UNIrcwlJUx -0.813173 -1.390931  1.816857  0.235613
5aMdajwQwW -0.693404 -1.081879  1.105777  0.029675
lXibgS3WEv  1.595046 -1.896966  0.451942  0.526002
JLOC630XaV -0.619576 -2.117220 -0.512762  0.838060
VsUXJFZz6K -0.306359       NaN -0.443546  0.834536