In [1]:
import pandas as pd

In [3]:
d1 = {'col1':[1, 2, 3],
      'col2':[10, 20, 30]}
df1 = pd.DataFrame(d1)
df1

   col1  col2
0     1    10
1     2    20
2     3    30

In [4]:
d2 = {'col3':[5, 6, 7],
      'col4':[9, 10, 11]}
df2 = pd.DataFrame(d2)
df2

   col3  col4
0     5     9
1     6    10
2     7    11

## Menggabungkan (merge) 2 Data Frame Secara Berdampingan

In [6]:
df= pd.merge(df1, df2, left_index=True, right_index=True)
df

   col1  col2  col3  col4
0     1    10     5     9
1     2    20     6    10
2     3    30     7    11