In [1]:
import pandas as pd
print(pd.__version__)

1.2.2

## Membuat Data Frame Dari Hasil Seleksi Spreadsheet
caranya yaitu dengan membuat file di microsoft excel / google spreadsheet. kemudian copy tabel yang sudah dibuat\
setelah itu buat function pd.read_clipboard() kemudian jalankan function tersebut.

In [2]:
df = pd.read_clipboard()
df

       NIM     Nama
0  8179641     Tejo
1  8172648  Sukijem
2  3461896    Parjo
3  2931870    Sinar