In [1]:
import pandas as pd
print(pd.__version__)

1.2.2

## Persiapan Data Frame

In [8]:
d = {'dokter':['Budi', 'Wati', 'Iwan', 'Budi', 'Budi', 'Wati'],
     'pasien':['Abdul', 'Joko', 'Asep', 'Parjo', 'Wiwin', 'Siapa']}

df = pd.DataFrame(d)
df

  dokter pasien
0   Budi  Abdul
1   Wati   Joko
2   Iwan   Asep
3   Budi  Parjo
4   Budi  Wiwin
5   Wati  Siapa

## Mengenal Fungsi Agregasi `first()` dan `last()`

In [13]:
df.groupby('dokter')['pasien'].count().to_frame()
# fungsi count yaitu mendata jumlah pasien untuk setiap dokter yg bertugas

        pasien
dokter
Budi         3
Iwan         1
Wati         2

In [14]:
df.groupby('dokter')['pasien'].first().to_frame()
# funsgi agregasi first berguna untuk menampilkan data pada baris pertama untuk setiap kelompoknya 
# dalam konteks ini menampilkan pasien pertama untuk setiap kelompok dokter

       pasien
dokter
Budi    Abdul
Iwan     Asep
Wati     Joko

In [15]:
df.groupby('dokter')['pasien'].last().to_frame()
# fungsi agregasi last untuk menampilkan data pada baris terkahir untuk setiap kelompoknya
# untuk kasus ini berarti menampilkan pasien terakhir dari setiap dokter yg bertugas

       pasien
dokter
Budi    Wiwin
Iwan     Asep
Wati    Siapa