In [1]:
import pandas as pd

## Persiapan Data Frame

In [2]:
d = {'col_1' : [1, 2, 3, 4, 5],
     'col_2' : [10, 20, 30, 40, 50]}

df = pd.DataFrame(d)
df

   col_1  col_2
0      1     10
1      2     20
2      3     30
3      4     40
4      5     50

## Random Sampling With/Without Replacement

In [8]:
df.sample(n=4, replace=False, random_state=0)
# parameter 1 sebagai jumlah data yang mau kita sample. dalam hal ini adalah 4
# parameter 2 sebagai replace. kalau parameter replace diberi nilai False berarti kita melakukan sampling tanpa replacement
# nilai parameter 3 bisa di tentukan dengan bebas. fungsi utama dari random_state untuk menjamin agar suatu eksperimen bisa direplikasi

   col_1  col_2
2      3     30
0      1     10
1      2     20
3      4     40

In [14]:
df.sample(n=4, replace=True, random_state=0)
# data dengan index 3 di sampling dengan 2x dan ini dimungkinkan karena parameter replace diberi nilai True

   col_1  col_2
4      5     50
0      1     10
3      4     40
3      4     40