In [1]:
import pandas as pd
import numpy as np

## Persiapan Data Frame

In [4]:
n_rows = 5
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 20, size=(n_rows, n_cols)), columns=cols)
df

    A   B   C   D   E
0  12   1   7   1   5
1  18  16  18   4   9
2  19  17   2   3  14
3  11   5  11   1  10
4  11  12  16  13  10

## Akses Nilai Variabel Pada `Query()`

In [11]:
df.query('A > 5')

    A   B   C   D   E
0  12   1   7   1   5
1  18  16  18   4   9
2  19  17   2   3  14
3  11   5  11   1  10
4  11  12  16  13  10

In [12]:
rerata = df['A'].mean()
rerata
# mencari mean nilai rerata

14.2

In [13]:
df.query('A > @rerata')
# mencari nilai A yang lebih besar dari rerata

    A   B   C  D   E
1  18  16  18  4   9
2  19  17   2  3  14