In [1]:
import pandas as pd

## Persiapan Data Frame

In [3]:
d = {'nama' : ['bejo', 'tejo', 'wati', 'tiwi', 'cecep'],
     'ipk' : [2, '3', 3, 2.75, '3.25']} # tipe data beragam ada yg string, float, dan integer
df = pd.DataFrame(d)
df

    nama   ipk
0   bejo     2
1   tejo     3
2   wati     3
3   tiwi  2.75
4  cecep  3.25

## Deteksi Dan Penanganan Kolom Dengan Tipe Data Beragam (Mixed Data Types)

In [7]:
df.dtypes

nama    object
ipk     object
dtype: object

In [8]:
df['ipk'].apply(type)

0      <class 'int'>
1      <class 'str'>
2      <class 'int'>
3    <class 'float'>
4      <class 'str'>
Name: ipk, dtype: object

In [9]:
df['ipk'].apply(type).value_counts()

<class 'int'>      2
<class 'str'>      2
<class 'float'>    1
Name: ipk, dtype: int64

In [12]:
df['ipk']= df['ipk'].astype(float)
# cara menyeragamkan tipe data

In [14]:
df['ipk'].apply(type).value_counts()

<class 'float'>    5
Name: ipk, dtype: int64