In [1]:
import pandas as pd

## Persiapan Data Frame

In [2]:
d = {'hobi' : ['jogging', 'mancing', 'renang',
               'mancing', 'mancing', 'baca',
               'baca', 'mancing', 'fotografi',
               'mancing', 'camping']}

df = pd.DataFrame(d)
df

         hobi
0     jogging
1     mancing
2      renang
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8   fotografi
9     mancing
10    camping

## Membuat Kategori Baru Berdasarkan Threshold (ambang batas)

In [3]:
df['hobi'].value_counts()

mancing      5
baca         2
camping      1
renang       1
fotografi    1
jogging      1
Name: hobi, dtype: int64

In [5]:
persentase = df['hobi'].value_counts(normalize=True)
persentase

mancing      0.454545
baca         0.181818
camping      0.090909
renang       0.090909
fotografi    0.090909
jogging      0.090909
Name: hobi, dtype: float64

In [8]:
threshold = 0.1 # 0.1 merepresentasikan 10%
hobi_lain = persentase[persentase < threshold].index # jika method index di hapus maka hasilnya berupa series yg terdiri dari index dan nilainya
hobi_lain

Index(['camping', 'renang', 'fotografi', 'jogging'], dtype='object')

In [9]:
df['hobi'] = df['hobi'].replace(hobi_lain, 'lainnya')
df['hobi']

0     lainnya
1     mancing
2     lainnya
3     mancing
4     mancing
5        baca
6        baca
7     mancing
8     lainnya
9     mancing
10    lainnya
Name: hobi, dtype: object

In [10]:
df['hobi'].value_counts(normalize=True)

mancing    0.454545
lainnya    0.363636
baca       0.181818
Name: hobi, dtype: float64