In [2]:
import pandas as pd

## Persiapan Data Frame

In [3]:
data = {'nama' : ['bayu', 'indra', 'devi', 'agni'],
        'jenis_kelamin' : ['L', 'L', 'P', 'L'],
        'usia' : [23, 32, 22, 25]}

df = pd.DataFrame(data)
df

    nama jenis_kelamin  usia
0   bayu             L    23
1  indra             L    32
2   devi             P    22
3   agni             L    25

## Menyimpan Data Frame Sebagai File `CSV`

In [32]:
df.to_csv('data_peserta.csv')

In [36]:
#df = pd.read_csv('data_peserta.csv')
df = pd.read_csv('data_peserta.csv', index_col=0) # cara menghilangkan kolom unnamed
df

            Unnamed: 0.1 jenis_kelamin  usia
Unnamed: 0
0                      0             L    23
1                      1             L    32
2                      2             P    22
3                      3             L    25

In [37]:
df.to_csv('data_peserta.csv', index=False) #method to_csv akan menyertakan index secara default. jika ingin menghilangkan index, maka parameter nya bisa diberi nilai false
df = pd.read_csv('data_peserta.csv')
df

   Unnamed: 0.1 jenis_kelamin  usia
0             0             L    23
1             1             L    32
2             2             P    22
3             3             L    25