In [2]:
import pandas as pd
import numpy as np

## Persiapan Data Frame

In [3]:
n_rows = 10
n_cols = 5
cols = tuple('ABCDE')

df = pd.DataFrame(np.random.randint(1, 10, size=(n_rows,n_cols)), columns=cols)
df

   A  B  C  D  E
0  5  3  2  3  3
1  4  5  1  6  5
2  1  7  1  7  9
3  2  6  9  7  5
4  7  5  8  1  9
5  8  2  5  2  9
6  2  8  2  6  3
7  3  4  6  2  6
8  1  4  4  5  6
9  7  6  5  1  5

## Menghitung Jumlah Baris Menurut Kriteria Tertentu

In [4]:
(df['A'] < 5).sum()

6

In [5]:
(df['A'] < 5).mean()

0.6