<a href="https://colab.research.google.com/github/linggapratama28/belajar/blob/main/cleaning_chat_wa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas as pd
import numpy as np
import sqlalchemy
import pymysql

In [5]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
     |████████████████████████████████| 43 kB 2.1 MB/s
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

In [15]:
engine = sqlalchemy.create_engine("mysql+pymysql://root:apidokterm@54.151.246.185/dokterm?charset=utf8mb4")
conn = engine.connect()

In [21]:
df = pd.read_sql('select * from record_chat_wa', conn)

In [23]:
df.head(3)

,id_record_chat_wa,id_record_channel_wa,chat_id,account,agent,status,from,to,chat,jumlah_media,media,jenis,created_at,updated_at
0,618,24,SM33f4957fe3495bcf5ef2dde0bce16be9,ACbee4394400822f8578583ca4c4972d42,bot,received,+628983920211,+6281388365522,Test,0,None,chat,2022-02-22 12:02:56,2022-02-22 12:02:56
1,619,24,SM819458c57c71cad76a695356a488257a,ACbee4394400822f8578583ca4c4972d42,bot,received,+628983920211,+6281388365522,Haloo,0,None,chat,2022-02-22 12:02:57,2022-02-22 12:02:57
2,620,24,c46e6d63-fdbf-4c5e-8799-d8849aa50816,ACbee4394400822f8578583ca4c4972d42,bot,received,+6281388365522,+628983920211,"Halo, saya Bilal.\r\nSelamat datang di Rumah S...",0,None,chat,2022-02-22 12:02:57,2022-02-22 12:02:57